<a href="https://colab.research.google.com/github/amondmomo/amondmomo.github.io/blob/master/%5BPB_2024%5D_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 튜플 사용 기본

In [7]:
# 하나씩 할당
a=1
b=2
c=3
a,b,c

(1, 2, 3)

In [9]:
# 다중할당1
name, age, sex, height = 'Amond','22','M',168
name, age, sex, height

('Amond', '22', 'M', 168)

In [10]:
# 다중할당2
_seoul = (37,127)
lat,long = _seoul
[lat,long]

[37, 127]

### for문 + tuple

In [11]:
lst = [['Jelly',202212345,'M'],
       ['Amond',201921324,'F'],
       ['Mele',202111445,'M']]
lst

[['Jelly', 202212345, 'M'],
 ['Amond', 201921324, 'F'],
 ['Mele', 202111445, 'M']]

In [14]:
for name,studentid,sex in lst:
  print(studentid,name)
# 리스트가 3개의 변수를 가지고 있으므로 3개의 변수를 할당해주어야함

202212345 Jelly
201921324 Amond
202111445 Mele

In [16]:
for name,*args  in lst:
    print(name)
# 변수 할당 대신 *args 사용

Jelly
Amond
Mele

### 튜플 + 언패킹연산자

In [17]:
head, body, *tail = range(1,11)
head, body, tail

(1, 2, [3, 4, 5, 6, 7, 8, 9, 10])

In [18]:
head1,head2, *body, tail1,tail2,tail3 = range(1,11)
head1,head2, body, tail1,tail2,tail3

(1, 2, [3, 4, 5, 6, 7], 8, 9, 10)

## 튜플 연습

In [34]:
studentid = 202112345,
name = 'Amond',
studentid+name

(202112345, 'Amond')

In [37]:
# A수업의 수강생과 점수 정보
lst = [['202151052', 'GuebinChoi', 30],
       ['202212342', 'Heung-min Son', 11],
       ['202334234', 'rei', 17],
       ['202242463', 'Yujin', 35],
       ['201355352', 'iseo', 31]]
lst

[['202151052', 'GuebinChoi', 30],
 ['202212342', 'Heung-min Son', 11],
 ['202334234', 'rei', 17],
 ['202242463', 'Yujin', 35],
 ['201355352', 'iseo', 31]]

In [38]:
# 수강생은 몇 명이지?
len(lst)

5

In [42]:
# 점수가 30점 미만인 사람은 몇 명?
sum([l[2]<30 for l in lst])

2

In [46]:
# lst 순서 변경
[[studentid,score,name] for studentid,name,score in lst]

[['202151052', 30, 'GuebinChoi'],
 ['202212342', 11, 'Heung-min Son'],
 ['202334234', 17, 'rei'],
 ['202242463', 35, 'Yujin'],
 ['201355352', 31, 'iseo']]